@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
    font-family: 'Inter', sans-serif;       
}

.inline li {
    display: inline-block;
    border: 1px solid;
    background-color: blue;
    margin-left: 10px;
}

.inline li a {
    color: white;
    margin: auto 15px auto 15px;
    
}

nav {
    border-bottom: 1px solid black;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

/* Footer */
footer {
    border-top: 1px solid black;
}